body {
  background-color: #111111;
}

.bg-cover {
	position: relative;
	  background: url('http://127.0.0.1:5500/img/annie-spratt-foto.jpg') center center;
	  background-size: cover;
	 color: aliceblue;
}

/*.bg-cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index:1;
}*/

.bg-dark{
	background-color: #232f3e !important;
}

.btn-primary{
 background-color: #e47911 !important;
}

/* formulario de contacto */
#contact-form {
margin-top: 20px;
}