body {
    background-color: whitesmoke;
}

.navegacion {
    color: whitesmoke;
}

li {
    display: inline;
}

.container {
border-color: black;
border-style: dotted;
padding-top: 10%;
padding-bottom: 20%;
}